servers/JAWS/WebContent/schemas/3.0.2/proxy/ncic_2000/1.0.1/ncic_2000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:j="http://www.it.ojp.gov/jxdm/3.0.2" xmlns:i="http://www.it.ojp.gov/jxdm/appinfo/1" xmlns:ncic="http://www.it.ojp.gov/jxdm/ncic_2000/1.0.1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.it.ojp.gov/jxdm/3.0.2/proxy/ncic_2000/1.0.1">
<xsd:import namespace="http://www.it.ojp.gov/jxdm/ncic_2000/1.0.1" schemaLocation="../../../../ncic_2000/1.0.1/ncic_2000.xsd"/>
<xsd:import namespace="http://www.it.ojp.gov/jxdm/3.0.2" schemaLocation="../../../jxdm.xsd"/>
<xsd:complexType name="BCOType">
<xsd:simpleContent>
<xsd:extension base="ncic:BCOType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BLTType">
<xsd:simpleContent>
<xsd:extension base="ncic:BLTType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BMAType">
<xsd:simpleContent>
<xsd:extension base="ncic:BMAType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRAType">
<xsd:simpleContent>
<xsd:extension base="ncic:BRAType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BTMAType">
<xsd:simpleContent>
<xsd:extension base="ncic:BTMAType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BTYType">
<xsd:simpleContent>
<xsd:extension base="ncic:BTYType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BXRType">
<xsd:simpleContent>
<xsd:extension base="ncic:BXRType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CALType">
<xsd:simpleContent>
<xsd:extension base="ncic:CALType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CATType">
<xsd:simpleContent>
<xsd:extension base="ncic:CATType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CMCType">
<xsd:simpleContent>
<xsd:extension base="ncic:CMCType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DCHGeneralType">
<xsd:simpleContent>
<xsd:extension base="ncic:DCHGeneralType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DCHOtherType">
<xsd:simpleContent>
<xsd:extension base="ncic:DCHOtherType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DCHRemovableAppliancesType">
<xsd:simpleContent>
<xsd:extension base="ncic:DCHRemovableAppliancesType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DCHRestorationCariesType">
<xsd:simpleContent>
<xsd:extension base="ncic:DCHRestorationCariesType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DCHStatusType">
<xsd:simpleContent>
<xsd:extension base="ncic:DCHStatusType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DENType">
<xsd:simpleContent>
<xsd:extension base="ncic:DENType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ECRType">
<xsd:simpleContent>
<xsd:extension base="ncic:ECRType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EPDType">
<xsd:simpleContent>
<xsd:extension base="ncic:EPDType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EXLType">
<xsd:simpleContent>
<xsd:extension base="ncic:EXLType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EYEType">
<xsd:simpleContent>
<xsd:extension base="ncic:EYEType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPCFingerType">
<xsd:simpleContent>
<xsd:extension base="ncic:FPCFingerType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPCPatternType">
<xsd:simpleContent>
<xsd:extension base="ncic:FPCPatternType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPCType">
<xsd:simpleContent>
<xsd:extension base="ncic:FPCType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GUNColorFinishType">
<xsd:simpleContent>
<xsd:extension base="ncic:GUNColorFinishType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAIType">
<xsd:simpleContent>
<xsd:extension base="ncic:HAIType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HSPType">
<xsd:simpleContent>
<xsd:extension base="ncic:HSPType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HULType">
<xsd:simpleContent>
<xsd:extension base="ncic:HULType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IMTType">
<xsd:simpleContent>
<xsd:extension base="ncic:IMTType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JWTType">
<xsd:simpleContent>
<xsd:extension base="ncic:JWTType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LISType">
<xsd:simpleContent>
<xsd:extension base="ncic:LISType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LITType">
<xsd:simpleContent>
<xsd:extension base="ncic:LITType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LSTAType">
<xsd:simpleContent>
<xsd:extension base="ncic:LSTAType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MAKType">
<xsd:simpleContent>
<xsd:extension base="ncic:MAKType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MNPType">
<xsd:simpleContent>
<xsd:extension base="ncic:MNPType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MNUType">
<xsd:simpleContent>
<xsd:extension base="ncic:MNUType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MPCType">
<xsd:simpleContent>
<xsd:extension base="ncic:MPCType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="OFFType">
<xsd:simpleContent>
<xsd:extension base="ncic:OFFType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORIAgencyType">
<xsd:simpleContent>
<xsd:extension base="ncic:ORIAgencyType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORIGovernmentLevelType">
<xsd:simpleContent>
<xsd:extension base="ncic:ORIGovernmentLevelType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="PCOType">
<xsd:simpleContent>
<xsd:extension base="ncic:PCOType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="POBType">
<xsd:simpleContent>
<xsd:extension base="ncic:POBType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="PROType">
<xsd:simpleContent>
<xsd:extension base="ncic:PROType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RACType">
<xsd:simpleContent>
<xsd:extension base="ncic:RACType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RESType">
<xsd:simpleContent>
<xsd:extension base="ncic:RESType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SDTType">
<xsd:simpleContent>
<xsd:extension base="ncic:SDTType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SEXType">
<xsd:simpleContent>
<xsd:extension base="ncic:SEXType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SKNType">
<xsd:simpleContent>
<xsd:extension base="ncic:SKNType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SMTType">
<xsd:simpleContent>
<xsd:extension base="ncic:SMTType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TYPAType">
<xsd:simpleContent>
<xsd:extension base="ncic:TYPAType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TYPArticleCategoryType">
<xsd:simpleContent>
<xsd:extension base="ncic:TYPArticleCategoryType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TYPDescriptionType">
<xsd:simpleContent>
<xsd:extension base="ncic:TYPDescriptionType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TYPOType">
<xsd:simpleContent>
<xsd:extension base="ncic:TYPOType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TYPSType">
<xsd:simpleContent>
<xsd:extension base="ncic:TYPSType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TYPType">
<xsd:simpleContent>
<xsd:extension base="ncic:TYPType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ToothIDCodeType">
<xsd:simpleContent>
<xsd:extension base="ncic:ToothIDCodeType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VCOType">
<xsd:simpleContent>
<xsd:extension base="ncic:VCOType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VMAType">
<xsd:simpleContent>
<xsd:extension base="ncic:VMAType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VMOType">
<xsd:simpleContent>
<xsd:extension base="ncic:VMOType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VSTType">
<xsd:simpleContent>
<xsd:extension base="ncic:VSTType">
<xsd:attributeGroup ref="j:SuperTypeMetadata"/>
<xsd:attribute ref="j:id"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
