servers/JAWS/WebContent/schemas/3.0/proxy/ncic_2000/1.0/ncic_2000_full-doc.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xsd:schema 
    attributeFormDefault='unqualified'
    elementFormDefault='qualified' 
    targetNamespace='http://www.it.ojp.gov/jxdm/3.0/proxy/ncic_2000/1.0' 
    xmlns='http://www.it.ojp.gov/jxdm/3.0/proxy/ncic_2000/1.0' 
    xmlns:j='http://www.it.ojp.gov/jxdm/3.0' 
    xmlns:ncic='http://www.it.ojp.gov/jxdm/ncic_2000/1.0' 
    xmlns:xsd='http://www.w3.org/2001/XMLSchema'
  >

  <xsd:import schemaLocation='../../../jxdm_full-doc.xsd' namespace='http://www.it.ojp.gov/jxdm/3.0' />
  <xsd:import schemaLocation='../../../../ncic_2000/1.0/ncic_2000_full-doc.xsd' namespace='http://www.it.ojp.gov/jxdm/ncic_2000/1.0' />

<!--Define Types-->
  <xsd:complexType name='BCOType'>
    <xsd:annotation>
      <xsd:documentation>Boat Color</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:BCOType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='BLTType'>
    <xsd:annotation>
      <xsd:documentation>Blood Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:BLTType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='BMAType'>
    <xsd:annotation>
      <xsd:documentation>Boat Make</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:BMAType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='BRAType'>
    <xsd:annotation>
      <xsd:documentation>Vehicle/Boat Part Brand</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:BRAType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='BTMAType'>
    <xsd:annotation>
      <xsd:documentation>Vehicle Make for Boat Trailer</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:BTMAType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='BTYType'>
    <xsd:annotation>
      <xsd:documentation>Boat Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:BTYType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='CALType'>
    <xsd:annotation>
      <xsd:documentation>Gun caliber</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:CALType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='CATType'>
    <xsd:annotation>
      <xsd:documentation>Vehicle/Boat Part Category</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:CATType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='CMCType'>
    <xsd:annotation>
      <xsd:documentation>Caution/Medical Conditions</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:CMCType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='DCHGeneralType'>
    <xsd:annotation>
      <xsd:documentation>Dental Characteristics - General</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:DCHGeneralType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='DCHOtherType'>
    <xsd:annotation>
      <xsd:documentation>Dental Characteristics - Other</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:DCHOtherType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='DCHRemovableAppliancesType'>
    <xsd:annotation>
      <xsd:documentation>Dental Characteristics - Removable Appliances</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:DCHRemovableAppliancesType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='DCHRestorationCariesType'>
    <xsd:annotation>
      <xsd:documentation>Dental Characteristics - Restorations and Caries</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:DCHRestorationCariesType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='DCHStatusType'>
    <xsd:annotation>
      <xsd:documentation>Dental Characteristics - Status</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:DCHStatusType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='DENType'>
    <xsd:annotation>
      <xsd:documentation>Denomination</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:DENType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='ECRType'>
    <xsd:annotation>
      <xsd:documentation>VGTOF Group Member Capability Criteria for Entry</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:ECRType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='EPDType'>
    <xsd:annotation>
      <xsd:documentation>Engine Power Displacement</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:EPDType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='EXLType'>
    <xsd:annotation>
      <xsd:documentation>Extradition Limitation</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:EXLType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='EYEType'>
    <xsd:annotation>
      <xsd:documentation>Eye Color</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:EYEType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='FPCFingerType'>
    <xsd:annotation>
      <xsd:documentation>Fingerprint Classification - finger</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:FPCFingerType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='FPCPatternType'>
    <xsd:annotation>
      <xsd:documentation>Fingerprint Classification pattern</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:FPCPatternType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='FPCType'>
    <xsd:annotation>
      <xsd:documentation>Fingerprint Classification</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:FPCType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='GUNColorFinishType'>
    <xsd:annotation>
      <xsd:documentation>Gun Color Finish</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:GUNColorFinishType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='HAIType'>
    <xsd:annotation>
      <xsd:documentation>Hair Color</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:HAIType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='HSPType'>
    <xsd:annotation>
      <xsd:documentation>Boat Hull Shape</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:HSPType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='HULType'>
    <xsd:annotation>
      <xsd:documentation>Boat Hull Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:HULType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='IMTType'>
    <xsd:annotation>
      <xsd:documentation>Image Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:IMTType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='JWTType'>
    <xsd:annotation>
      <xsd:documentation>Jewelry Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:JWTType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='LISType'>
    <xsd:annotation>
      <xsd:documentation>License State</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:LISType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='LITType'>
    <xsd:annotation>
      <xsd:documentation>License Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:LITType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='LSTAType'>
    <xsd:annotation>
      <xsd:documentation>State/Country Index</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:LSTAType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='MAKType'>
    <xsd:annotation>
      <xsd:documentation>Gun Make</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:MAKType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='MNPType'>
    <xsd:annotation>
      <xsd:documentation>Missing Person</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:MNPType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='MNUType'>
    <xsd:annotation>
      <xsd:documentation>Miscellaneous Number Value (First two characters of MNU)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:MNUType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='MPCType'>
    <xsd:annotation>
      <xsd:documentation>Missing Person Circumstance</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:MPCType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='OFFType'>
    <xsd:annotation>
      <xsd:documentation>Offense Code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:OFFType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='ORIAgencyType'>
    <xsd:annotation>
      <xsd:documentation>Agency Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:ORIAgencyType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='ORIGovernmentLevelType'>
    <xsd:annotation>
      <xsd:documentation>Government Level of Agency</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:ORIGovernmentLevelType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='PCOType'>
    <xsd:annotation>
      <xsd:documentation>Protection Order Condition</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:PCOType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='POBType'>
    <xsd:annotation>
      <xsd:documentation>Place of Birth</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:POBType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='PROType'>
    <xsd:annotation>
      <xsd:documentation>Propulsion</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:PROType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='RACType'>
    <xsd:annotation>
      <xsd:documentation>Race</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:RACType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='RESType'>
    <xsd:annotation>
      <xsd:documentation>Registration State</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:RESType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='SDTType'>
    <xsd:annotation>
      <xsd:documentation>Security Date or Series Year</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:SDTType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='SEXType'>
    <xsd:annotation>
      <xsd:documentation>Sex</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:SEXType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='SKNType'>
    <xsd:annotation>
      <xsd:documentation>Skin Color</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:SKNType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='SMTType'>
    <xsd:annotation>
      <xsd:documentation>Scars/Marks/Tattoos</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:SMTType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='TYPArticleCategoryType'>
    <xsd:annotation>
      <xsd:documentation>Article Type Category</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:TYPArticleCategoryType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='TYPAType'>
    <xsd:annotation>
      <xsd:documentation>Article Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:TYPAType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='TYPDescriptionType'>
    <xsd:annotation>
      <xsd:documentation>Weapon description</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:TYPDescriptionType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='TYPOType'>
    <xsd:annotation>
      <xsd:documentation>ORI Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:TYPOType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='TYPSType'>
    <xsd:annotation>
      <xsd:documentation>Security Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:TYPSType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='TYPType'>
    <xsd:annotation>
      <xsd:documentation>Gun Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:TYPType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='VCOType'>
    <xsd:annotation>
      <xsd:documentation>Vehicle Color</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:VCOType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='VMAType'>
    <xsd:annotation>
      <xsd:documentation>Vehicle Make</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:VMAType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='VMOType'>
    <xsd:annotation>
      <xsd:documentation>Vehicle Model</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:VMOType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name='VSTType'>
    <xsd:annotation>
      <xsd:documentation>Vehicle Style</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base='ncic:VSTType'>
          <xsd:attributeGroup ref='j:SuperTypeMetadata' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
